.header {
    --header-height: 6rem;
}

.header__welcome-msg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header__welcome-msg > * {
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}

.header__topbar__inner {
    height: var(--topbar-height);
    border-bottom: 1px solid #e4e4e4;

    display: flex;
    align-items: center;

    column-gap: 1.75rem;
}

.header__topbar__inner > * {
    flex-shrink: 0;
}

.header__topbar__notification {
    font-size: 1rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    position: relative;
}

.header__topbar__notification:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(227, 230, 236, 0.6);
}

.header__topbar__notification > span {
    position: absolute;
    top: 7px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0.75rem;
    height: 0.75rem;
    font-size: 0;
    border-radius: 50%;
    background-color: #ff754c;
}

.header__topbar__notification__dropdown {
    display: none;
    z-index: 100;

    position: absolute;
    top: calc(var(--topbar-height) - 2rem);
    left: -19rem;
    width: 22rem;
}

.header__topbar__notification--is-open {
    color: #fff;
    background-color: #6c5dd3;
    box-shadow: 0 5px 10px rgba(227, 230, 236, 0.6);
}

.header__topbar__notification--is-open .header__topbar__notification__dropdown {
    display: block;
    color: initial;
}

@media only screen and (min-width: 768px) {
    .header {
        align-items: center;
        --header-height: 7.5rem;
    }

    .header__welcome-msg {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .header__topbar {
        flex-grow: 1;
        box-shadow: 0;
    }

    .header__topbar__inner {
        border-color: transparent;
    }

    .header__topbar__burger {
        display: none;
    }

    .header__topbar__notification > span {
        top: -2px;
        right: -7px;

        min-width: 1.25rem;
        height: 1.25rem;
        font-size: 0.825rem;
        color: #fff;
        font-weight: 600;
    }

    .header__topbar__notification + div {
        display: none !important;
    }

    .header__topbar__notification__dropdown {
        top: calc(var(--header-height) - 4rem);
    }
}

@media only screen and (min-width: 1400px) {
    .header__welcome-msg {
        padding-top: 2rem;
    }
}
