.button {
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

    border: none;

    background-color: transparent;
    outline: none;

    display: inline-block;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button--secondary {
    color: #ffffff;
    background-color: #6c5dd3;
}

.button--primary {
    color: #ffffff;
    background-color: #1b1d21;
}
