@media only screen and (min-width: 768px) {
    .active-users .border-bottom-sm-scr {
        border-bottom: 1px solid #e4e4e4;
    }
}

.active-users__stat {
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
}

.active-users__stat__item:nth-child(1),
.active-users__stat__item:nth-child(2) {
    border-bottom: 1px solid #e4e4e4;
}

.active-users__stat__item:nth-of-type(even) {
    border-left: 1px solid #e4e4e4;
}

@media only screen and (min-width: 768px) {
    .active-users__stat__item:nth-child(1),
    .active-users__stat__item:nth-child(2) {
        border-bottom: 0;
    }

    .active-users__stat__item:nth-of-type(even) {
        border-left: 0;
    }

    .active-users__stat__item + .active-users__stat__item {
        border-left: 1px solid #e4e4e4;
    }
}

.active-users__stat__item h3 {
    font-size: 2.5rem;
}

.active-users__progress {
    margin-top: 0.5rem;
    height: 2px;
    background-color: #e4e4e4;
    position: relative;
}

.active-users__progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}

.active-users__progress--users::before {
    width: 50%;
    background-color: #6c5dd3;
}

.active-users__progress--clicks::before {
    width: 35%;
    background-color: #ffa2c0;
}

.active-users__progress--sales::before {
    width: 70%;
    background-color: #7fba7a;
}

.active-users__progress--items::before {
    width: 20%;
    background-color: #ff9a7b;
}
