.recent-notification {
    font-size: 1rem;
    color: #11142d;
    font-weight: 600;
}

.recent-notification__item > a {
    border-radius: 0.75rem;
}

.recent-notification__item > a:hover {
    color: #fff;
    background: #6c5dd3;
}

.recent-notification__item > a:hover > div > p,
.recent-notification__item > a:hover > time {
    color: inherit;
}

.recent-notification__item__type {
    background-color: #7fba7a;

    position: absolute;
    top: -7px;
    right: -7px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
