.search-form {
    margin-left: auto;
    position: relative;
    font-size: 1rem;
}

.search-form .search-form__icon {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.search-form--is-input-visible .search-form__icon {
    background-color: #6c5dd3;
    color: #fff;
}

.search-form .search-form__icon:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(227, 230, 236, 0.6);
}

.search-form .search-form__input {
    display: none;

    position: fixed;
    top: var(--topbar-height);
    right: 0;
    left: 0;
    width: 97%;

    border: none;
    padding: 0.25rem 1rem;
    line-height: 3em;
    font-size: 0.875em;
    font-family: 'Inter', sans-serif;
    color: #808191;
    background-color: #e4e4e4;
}

.search-form--is-input-visible .search-form__input {
    display: block;
}

.search-form .search-form__input:focus {
    outline: none;
}

.search-form .search-form__input::placeholder {
    color: inherit;
    font: inherit;
}

.search-form__dropdown {
    display: none;
    background-color: #fff;
}

.search-form--is-rsearch-visible .search-form__dropdown {
    display: block;
    position: fixed;
    top: calc(var(--header-height) + 3.5rem);
    left: 0;
    z-index: 100;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    .search-form {
        display: flex;
    }

    .search-form .search-form__icon {
        pointer-events: none;
    }

    .search-form--is-input-visible .search-form__icon {
        background-color: transparent;
        color: inherit;
    }

    .search-form .search-form__input {
        display: block;

        width: calc(100vw * 0.5);
        max-width: 15rem;

        position: static;
        padding-left: 0.125rem;
        line-height: 2.5em;
        background-color: transparent;
    }

    .search-form--is-rsearch-visible .search-form__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}
