:root {
    /* Breakpoint variables */
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
    --bp-xXl: 1400px;

    /* colors */
    --bg-opacity: 1;
    --bg-blue: rgba(63, 140, 255, var(--bg-opacity));
    --bg-pink: rgba(255, 162, 192, var(--bg-opacity));
    --bg-light-blue: rgba(160, 215, 231, var(--bg-opacity));
    --bg-yellow: rgba(255, 206, 115, var(--bg-opacity));
    --text-primary: rgba(17, 20, 45, 1);
    --text-green: rgba(127, 186, 122, 1);
    --text-secondary: rgba(128, 129, 145, 1);
    --text-tertiary: rgba(178, 179, 189, 1);
}
